body{
    font-family: 'Merienda', 'Open Sans', sans-serif;
    font-size: 20px;
    background-image: url("../img/bgaccueil.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

/*=========================================================================================*/
/*===== Définition du Header ==============================================================*/
/*=========================================================================================*/

#menu{
    display: flex;
    flex-direction: row;
}
#user{
    display: flex;
    flex-direction: row;
}

header{
    display:flex;
    flex-direction: row;
}


/* Mise en forme du logo */

#logo{
    background-color: white;
    width: 305px;
    border: 1px solid #a88680;
    border-bottom: 2px solid #a88680;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 3px 3px 3px #000;
}

/* Définition de la bannière qui englobera tous les boutons du menu */
/* Définition de l'aspect des boutons du menu*/
/* Définition du hover*/

#banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.5);
    flex-basis: 100%;
    height: 3em;
    margin-right: 0px;
    border-top: 1px solid #a88680;
    border-bottom: 1px solid #a88680;
    border-bottom-right-radius: 12px;
    box-shadow: 3px 3px 3px #000;
}

.menu-button{
    margin:0px;
    padding: 0px;
    background-color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid #a88680;
    border-right: 1px solid #a88680;
    border-left: 1px solid #a88680;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#menu a{
    line-height: 3em; /*Centrage vertical des menus et extension de la zone cliquable*/
    padding-right: 0.5em;
    padding-left: 0.5em;
    color:black;
    text-decoration: none;
}

#user a{
    padding-top: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.menu-button:hover{
    background-color: rgba(128,142,168,0.5);
}

/* Mise en forme supplémentaire pour différencier #menu et #users */

/* Mise en forme supplémentaire pour les derniers éléments #menu et #users */

#menu p:last-of-type{
    border-right: 2px solid #a88680;
}

#user p:last-of-type{
    border-bottom-right-radius: 12px;
}

/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------*/
