#bannerDashboard{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255,255,255,0.5);
    flex-basis: 100%;
    height: 3em;
    margin:0.5em auto;
    border: 2px solid #a88680;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #000;
    width : 60%;
}

.menuDashboard button{
    margin: 0.5em 0;
    height:3em;
    font-size: inherit;
    font-family: inherit;
}

.menuDashboard > button:hover{
    background-color: rgba(128,142,168,0.75);
    border-bottom: 5px solid #ee4e00;
    border-top: 5px solid #ee4e00;
    box-sizing: border-box;
}

.menuDashboard button.active{
    background-color: rgba(128,142,168,0.33);
}

.resultatDiv {
    display: none;
}

.item a{
    text-decoration: underline;
    color: #0000ee;
}

.item a:hover{
    color: slateblue;
}

#addSpot, #addTopo{
    display: flex;
    margin:0.5em;
    padding:0.5em;
    justify-content: center;
}

#addSpot p, #addTopo p{
    border: 2px solid #a88680;
    border-radius: 8px;
}

#addSpot a, #addTopo a{
    display: flex;
    text-decoration: none;
    color: black;
}

#addSpot a span, #addTopo a span{
    align-self: center;
}

#addSpotButton img, #addTopoButton img{
    margin:0;
    padding:0.5em;
    width: 30px;
    align-items: center;
}

.buttonAdmin, .buttonTopo, .buttonReservation{
    background-color: white;
    border: 2px solid #a88680;
    border-radius: 6px;
    font-family: 'Merienda', 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
}

.buttonAdmin:hover, .buttonTopo:hover, .buttonReservation:hover{
    background-color: rgba(128,142,168,0.75);
    box-sizing: border-box;
    cursor: pointer;
}