.treeview, .topoDisplay{
    background-color: white;
    padding:0.5em;
    border: 2px solid #a88680;
    border-radius: 12px;
    margin: 0.5em 0.5em;
    list-style: none;
    line-height: normal;
}

.treeviewDiv, .topoDisplayDiv{
    margin: 0;
    padding: 0;
    width:100%;
}

.treeview ul {
    list-style: none;
    padding: 0em 1em;
    margin: 0;
}

.treeview li{
    position: relative;
    cursor: pointer;
    padding: 0em;
    margin:0em;
}

.treeview a, .topoDiv a{
    text-decoration: none;
    color: black;
    font-size: 0.8em;
}

.treeview a:hover, .selected{
    background-color: rgba(128,142,168,0.5);
    border: 1px solid #a88680;
    border-radius: 6px;
    padding-left : 2px;
    padding-right: 2px;
}

.treeview .parent::before{
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: -25px top;
    background-image: url("../images/plus-minus.png");
    content: "";
    height: 25px;
}

.treeview .close::before{
    background-position: 0 top;
}

.treeview .parent > ul {
    display: none;
}

.topoDisplayDiv h3{
    margin: 0.5em;
    font-size: 0.9em;
}

#ajoutSecteur, #ajoutVoie{
    font-size: 0.6em;
    color: #0000ee;
}

#ajoutSecteur:visited, #ajoutVoie:visited{
    color: #0000ee;
}

.buttonReservationTopo{
    background-color: white;
    border: 2px solid #a88680;
    border-radius: 6px;
    font-family: 'Merienda', 'Open Sans', sans-serif;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
}

.buttonReservationTopo:hover{
    background-color: rgba(128,142,168,0.75);
    box-sizing: border-box;
}