#displaySpot{
    display: flex;
}

#displayDiv{
    top: 4em;
    left: 20em;
    margin:1em;
}

#navDiv{
    position: fixed;
    top: 10em;
    margin: 1.5em 0.8em;
    background-color: rgba(255,255,255,0.7);
    border: 2px solid #a88680;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #000;
    width: 17em;
    padding: 0.5em;
}

.descriptionDiv{
    width: 80%;
}

h5{
    text-align: center;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.ancre{
    display: block;
    height: 4em;
    margin-top: -4em;
    visibility: hidden;
}

#labelCommentaire{
    display: block;
    text-decoration: underline;
    padding: 1em 0;
}

.commentaireForm{
    position: static;
    display: flex;
    flex-direction: column;
}

.commentaireForm textarea{
    width: 100%;
    margin: 0.5em auto;
    border-radius: 5px;
    padding: 0;
    height: 8em;
}

.commentaireForm textarea:focus {
    border: 2px solid #a88680;
}

input[type=button]{
    align-self: flex-end;
    margin: 0.5em 0;
    background-color: #a88680;
    border: 1px solid rgb(173,173,173);
    border-radius: 2px;
    line-height: 2.5em;
    box-shadow: 0 0 3px #000;
    font-family: 'Merienda', 'Open Sans', sans-serif;
    font-size: 0.9em;
}