
/*=========================================================================================*/
/*===== Définition du Header ==============================================================*/
/*=========================================================================================*/

header{
    display:flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 2em;
}

.menu, .user, .menuDashboard{
    display: flex;
    flex-direction: row;
}

.menuDashboard{
    padding: 0.5em;
}

/* Mise en forme du logo */

#logo{
    background-color: white;
    width: 305px;
    border: 1px solid #a88680;
    border-bottom: 2px solid #a88680;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 3px 3px 3px #000;
    height: 180px;
}

/* Définition de la bannière qui englobera tous les boutons du menu */
/* Définition de l'aspect des boutons du menu*/
/* Définition du hover*/

#banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.5);
    flex-basis: 100%;
    height: 3em;
    max-height: 3em;
    margin-right: 0;
    border-top: 1px solid #a88680;
    border-bottom: 1px solid #a88680;
    border-bottom-right-radius: 12px;
    box-shadow: 3px 3px 3px #000;
}

.menu-button{
    flex-grow: 1;
    margin:0;
    padding: 0 0.5em;
    background-color: white;
    border-bottom: 1px solid #a88680;
    border-right: 1px solid #a88680;
    border-left: 0;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-collapse: collapse;
}

#userConnexion, #addUser{
    padding: 0 0.5em;
    justify-items: center;
}

#userConnexion img, #addUser img{
    padding-top: 0.8em;
}

.menu a, .menuDashboard a{
    line-height: 1.5em; /*Centrage vertical des menus et extension de la zone cliquable*/
    padding-right: 0.5em;
    padding-left: 0.5em;
    color:black;
    text-decoration: none;
}

.user a{
    line-height: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0;
    color:black;
    text-decoration: none;
}

.menu-button:hover{
    background-color: rgba(128,142,168,0.75);
    border-bottom: 5px solid #ee4e00;
    box-sizing: border-box;
}

/* Mise en forme supplémentaire pour les derniers éléments .menu et .users */

.menu div:first-of-type{
    border-left: 0;
}

.user div:last-of-type{
    border-bottom-right-radius: 12px;
}

.user div:first-of-type, .userDrop div:first-of-type{
    border-left: 1px solid #a88680;
}

/* Mise en forme du menu déroulant */

.userDrop{
    margin: 0;
    padding: 0;
    max-height: 50em;
    display: flex;
    flex-direction: column;
    min-width: 10em;
    width: auto;
}

.userDrop > div{
    height: 3em;
}

#userConnected{
    border-left: 1px;
    height: 100%;
    border-bottom-right-radius: 12px;
}

#username{
    display: flex;
    color:black;
    text-decoration: none;
}

#username span{
    padding: 0.5em;
}

#iconUser{
    padding-right: 0.5em;
    height: 100%;
    align-self: center;
}

.userDrop > ul{
    margin: 0;
    padding: 0;
}

#items {
    max-height: 0;
    overflow: hidden;
    transition: 0s;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 200%;
}

.container{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #a88680;
    border-bottom-right-radius: 12px;
}
.container:hover #items {
    max-height: 50em;
    transition: 1.5s;
}

#items > li > a {
    display: block;
    margin: 0;
    padding: 0.5em;
    color: black;
    background-color: white;
    text-decoration: none;
}

#items > li > a:hover{
    background-color: rgba(128,142,168,0.75);
    border-bottom: 5px solid #ee4e00;
    box-sizing: border-box;
}
