/*=========================================================================================*/
/*===== Définition du Header ==============================================================*/
/*=========================================================================================*/

header{
    display:flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 2em;
}

.menu{
    display: flex;
    flex-direction: row;
}
.user{
    display: flex;
    flex-direction: row;
}


/* Mise en forme du logo */

#logo{
    background-color: white;
    width: 305px;
    border: 1px solid #a88680;
    border-bottom: 2px solid #a88680;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 3px 3px 3px #000;
    height: 180px;
}

/* Définition de la bannière qui englobera tous les boutons du menu */
/* Définition de l'aspect des boutons du menu*/
/* Définition du hover*/

#banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.5);
    flex-basis: 100%;
    height: 3em;
    margin-right: 0;
    border-top: 1px solid #a88680;
    border-bottom: 1px solid #a88680;
    border-bottom-right-radius: 12px;
    box-shadow: 3px 3px 3px #000;
}

.menu-button{
    margin:0;
    padding: 0 0.5em;
    background-color: white;
    border-bottom: 1px solid #a88680;
    border-right: 1px solid #a88680;
    border-left: 0px solid #a88680;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-collapse: collapse;
}

.menu a{
    line-height: 3em; /*Centrage vertical des menus et extension de la zone cliquable*/
    padding-right: 0.5em;
    padding-left: 0.5em;
    color:black;
    text-decoration: none;
}
#userConnected{
    display: flex;
}
#username{
    padding: 0.5em;
    align-content: center;
}

.user a{
    padding-top: 0.3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    color:black;
    text-decoration: none;
}

.menu-button:hover{
    background-color: rgba(128,142,168,0.75);
    border-bottom: 5px solid #ee4e00;
}

/* Mise en forme supplémentaire pour différencier .menu et .users */

/* Mise en forme supplémentaire pour les derniers éléments .menu et .users */

.menu p:first-of-type{
    border-left: 0px solid #a88680;
}

.user p:last-of-type{
    border-bottom-right-radius: 12px;
}


/* -----------------------------------------------------------------------------------------*/