/* Popup container */
.popup {
    position: relative;
    display: block;
    cursor: pointer;
    min-width: 15em;
    max-width: 50em;
    width: 300%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: auto;
    background-color: rgb(85, 85, 85);
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 0.5em;
    margin: 0;
    position: absolute;
    bottom: 100%;
    font-size: 0.8em;
    font-weight: lighter;
    box-shadow: 2px 2px 3px #222222;
}

.descriptionPopup{
    margin:0;
    padding:0;
    width: 100%;
}

.descriptionPopup > span{
    text-align: center;
    text-decoration: underline;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}