/*=========================================================================================*/
/*===== Bandeau Réseau Social via sprite===================================================*/
/*=========================================================================================*/

.social{
    background-color: rgba(255,255,255,0.75);
    border: 2px solid #a88680;
    width: 172px;
    height: 62px;
    position: fixed;
    margin: 1em;
    padding: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 3px #000;
}

#fb, #tw, #lk{
    width: 50px;
    height: 50px;
    position: absolute;
    display:block;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 2px #666;
    margin : 5px;
}

#fb:hover,#tw:hover,#lk:hover{
    background-color: rgba(100,100,100,0.8);
    box-shadow: 0 0 10px #222;
}

#fb{
    background-position: 0 0;
    background-image: url("../img/social.png");
}

#tw{
    background-image: url("../img/social.png");
    background-position: -50px 0;
    left:55px;
}

#lk{
    background-image: url("../img/social.png");
    background-position: -100px -50px;
    left:110px;
}