body{
    font-family: 'Merienda', 'Open Sans', sans-serif;
    font-size: 20px;
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#bannerResult{
    margin-right: 0;
    border-top: 1px solid #a88680;
    border-bottom: 1px solid #a88680;
}

#menuResult{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    height: 3em;
}

/*=========================================================================================*/
/*===== Mise en forme conteneur principal =================================================*/
/*=========================================================================================*/

.mainDiv{
    position: relative;
    top: 10em;
    background-color: rgba(255,255,255,0.7);
    border: 2px solid #a88680;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #000;
    width: 70%;
    margin: 1.5em auto;
    padding-left: 1em;
    padding-right: 1em;
    word-wrap: break-word;
    text-align: justify;
    display: flex;
    flex-direction: column;
}


.mainDiv h1{
    text-decoration: underline;
    text-align: center;
}

/*=========================================================================================*/
/*===== Conteneurs Formulaires, résultats et descriptions==================================*/
/*=========================================================================================*/

.formDiv, .resultatDiv, .descriptionDiv{
    margin: 1em auto;
    background-color: rgba(255,255,255,0.75);
    border: 2px solid #a88680;
    box-shadow: 3px 3px 3px #000;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    border-radius: 6px;
}

.formDiv{
    width: 70%;
}

.resultatDiv{
    width: 90%;
}

/*=========================================================================================*/
/*===== Mise en forme div form recherche ==================================================*/
/*=========================================================================================*/

/*#rechercheDiv h1, #inscriptionDiv h1{*/
/*    text-decoration: underline;*/
/*    padding-left: 0.2em;*/
/*    font-size:1.2em;*/
/*    padding-top: 0.5em;*/
/*    padding-bottom: 0.5em;*/
/*    margin-top: 0;*/
/*    margin-bottom: 0;*/
/*}*/

/*#inscriptionDiv{*/
/*    width: 70%;*/
/*    margin:auto;*/
/*    padding: 0.5em 1em;*/
/*    background-color: rgba(255,255,255,0.75);*/
/*    border: 2px solid #a88680;*/
/*    box-shadow: 3px 3px 3px #000;*/
/*    text-align: left;*/
/*    border-radius: 6px;*/
/*}*/

.erreur{
    display: flex;
    width: 100%;
    line-height: 1em;
    font-size: 0.7em;
    color: red;
    text-align: center;
    padding-right : 2em;
    margin-right: 3em;
}

.erreurSingleCol{
    width: 100%;
    text-align: center;
}

.success{
    width: 100%;
    line-height: 1em;
    font-size: 0.7em;
    color: green;
    text-align: center;
}

.echec{
    width: 100%;
    line-height: 1em;
    font-size: 0.7em;
    color: red;
    text-align: center;
}

.erreur >  div{
    width: 50%;
    text-align: center;
}