body{
    font-family: 'Merienda', 'Open Sans', sans-serif;
    font-size: 20px;
    background-image: url("../images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}


h3{
    font-size: 1em;
    text-decoration: underline;
}
/*=========================================================================================*/
/*===== Mise en forme conteneur principal =================================================*/
/*=========================================================================================*/

.mainDiv{
    position: relative;
    top: 10em;
    background-color: rgba(255,255,255,0.7);
    border: 2px solid #a88680;
    border-radius: 12px;
    box-shadow: 3px 3px 3px #000;
    width: 70%;
    margin: 1.5em auto;
    padding-left: 1em;
    padding-right: 1em;
    word-wrap: break-word;
    text-align: justify;
    display: flex;
    flex-direction: column;
}


.mainDiv h1{
    text-decoration: underline;
    text-align: center;
    margin: 0.2em;
}

/*=========================================================================================*/
/*===== Conteneurs Formulaires, résultats et descriptions==================================*/
/*=========================================================================================*/

.formDiv, .resultatDiv, .descriptionDiv{
    margin: 1em auto;
    background-color: rgba(255,255,255,0.75);
    border: 2px solid #a88680;
    box-shadow: 3px 3px 3px #000;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    border-radius: 6px;
}

.formDiv{
    width: 70%;
}

.resultatDiv{
    width: 90%;
}

/*=========================================================================================*/
/*===== Mise en forme div form recherche ==================================================*/
/*=========================================================================================*/

.erreur{
    display: flex;
    width: 100%;
    line-height: 1em;
    font-size: 0.7em;
    color: red;
    justify-content: center;
    padding-right : 2em;
    margin-right: 3em;
}

.succes{
    width: 100%;
    line-height: 1em;
    font-size: 0.7em;
    color: green;
    text-align: center;
}

.echec{
    width: 100%;
    line-height: 1em;
    font-size: 0.7em;
    color: red;
    text-align: center;
}

.erreur >  div{
    width: 50%;
    text-align: center;
}